@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-body text-white;
  }
  .h2 {
    @apply text-3xl capitalize;
  }
  .grad {
    @apply bg-gradient-to-t from-[#1f2126] to-[#33363d] drop-shadow-2xl;
  }
  .btn {
    @apply h-[50px] flex justify-center items-center rounded-[8px] px-10 py-[10px] text-sm uppercase font-bold;
  }
  .btn-accent {
    @apply bg-accent text-primary hover:bg-accent-hover transition-all;
  }
  .input {
    @apply h-[50px] rounded-[8px] w-full outline-none px-6 text-primary;
  }
  :root {
    --radius: 0.5rem;
  }
}

.mainSlider .swiper-pagination-bullets {
  bottom: 1.5rem;
}
.mainSlider .swiper-pagination-bullet,
.productSlider .swiper-pagination-bullet {
  background: #f6cd46;
}

.productSlider .swiper-button-prev::after {
  font-size: 2rem;
}

.productSlider .swiper-button-prev::after,
.productSlider .swiper-button-next::after {
  font-size: 2rem;
  color: #f6cd46;
  padding: 2rem;
  width: 200px;
}

.custom-zoom [data-rmiz-modal-overlay],
.custom-zoom [data-rmiz-modal-img] {
  transition-duration: 0.8s;
  transition-timing-function: linear;
}
.custom-zoom [data-rmiz-modal-overlay="hidden"] {
  background-color: #000000e6;
}
.custom-zoom [data-rmiz-modal-overlay="visible"] {
  background-color: #000000e6;
}
.custom-zoom [data-rmiz-btn-unzoom] {
  background-color: #000000;
  color: #ffffff;
}
.custom-zoom [data-rmiz-btn-unzoom]:focus-visible {
  outline-offset: 0.2rem;
  outline: 0.1rem solid #ffffff;
}
